<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.my_timetable">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".student_timetable"></activity>
        <activity android:name=".lecturer" />
        <activity android:name=".student" />
        <activity android:name=".add_classroom" />
        <activity android:name=".add_batch" />
        <activity android:name=".add_module" />
        <activity android:name=".add_lecturer" />
        <activity android:name=".admin_classroom_operations" />
        <activity android:name=".admin_batch_operations" />
        <activity android:name=".admin_module_operations" />
        <activity android:name=".admin_user_operations" />
        <activity android:name=".Admin" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>